@import url(http://fonts.googleapis.com/css?family=Ruda);

h1, h2, h3 {
    text-align: center;
}

h1 {
    font-size: 105px;
    line-height: 135px;
    font-family: 'Ruda', sans-serif;
}

h2 {
    margin-top: 45px;
    font-size: 42px;
}

.slide h1 {
    margin-top: 25px;
}

#home h1 {
    margin-top: 75px;
}

#home h2 {
    margin-top: 10px;
    color: #231f20;
}

#home h3 {
    margin-top: 45px;
}

.about-me {
    font-size: 45px;
}

#what h1, #like-this h1, #why h1, #how h1 {
    margin-top: 125px;
}

#nothing-like-this h1 {
    margin-top: 95px;
}

#the-task h1, #getting-tasks h1, #adding-tasks h1 {
    font-size: 85px;
}

#all-together h1 {
    font-size: 75px;
}

#like-this, #the-app {
    text-align: center;
}

#like-this li {
    padding: 15px;
}

.highlight {
    margin-top: 50px;
}

.slide h1 b {
    font-size: 125px;
}
