@import url(http://fonts.googleapis.com/css?family=Ruda);

h1, h2, h3 {
    text-align: center;
}

h1 {
    line-height: 80px;
    font-size: 75px;
    font-family: 'Ruda', sans-serif;
}

h2 {
    margin-top: 45px;
    font-size: 42px;
}

.slide h1 {
    margin-top: 25px;
}

#home h1 {
    margin-top: 100px;
}

#home h2 {
    margin-top: 15px;
    color: #231f20;
}

#home h3 {
    margin-top: 45px;
}

.about-me {
    font-size: 45px;
}

#what h1, #nothing-like-this h1, #like-this h1, #why h1, #how h1, #coding h1{
    margin-top: 175px;
}

#like-this, #the-app {
    text-align: center;
}

.highlight {
    margin-top: 50px;
}
